<ion-view title="레시피">
  <ion-content class="has-header padding">
    <div class="recipe-btn" ng-repeat="recipe in recipes" on-tap="showBigImage('{{ recipe.name }}', '{{ recipe.image }}')">
      <div>
        <span>{{ recipe.name }}</span>
        <img ng-src="/img/recipes/small/{{ recipe.image }}.png" style="height: 50px;" />
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="recipe-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{ currentRecipe.name }}</h1>
      <a class="button button-stable" on-tap="hideModal()">닫기</a>
    </ion-header-bar>
    <ion-content>
      <img ng-src="/img/recipes/big/{{ currentRecipe.image }}.jpg" style="max-width: 100%;" />
    </ion-content>
  </ion-modal-view>
</script>
